Update dnssec-91 and dnssec-92 for RFC 9904

The [dnssec-91](https://icann.github.io/rst-test-specs/rst-test-specs.html#Test-Case-dnssec-91) and [dnssec-92](https://icann.github.io/rst-test-specs/rst-test-specs.html#Test-Case-dnssec-92) check the DNSSEC signing and hashing algorithms for the TLD. Specifically, they check that the signing algorithm number is not lower than 8, and that SHA-1 and GOST R 34.10-2001 ("ECC-GOST") are not used for hashing.

Since these test cases were first defined, [RFC 9904](https://www.rfc-editor.org/rfc/rfc9904.html) has been published, which updates the IANA registries for [DNSSEC algorithms](https://www.iana.org/assignments/dns-sec-alg-numbers/dns-sec-alg-numbers.xhtml#dns-sec-alg-numbers-1) and [DS record digest algorithms](https://www.iana.org/assignments/ds-rr-types/ds-rr-types.xhtml#ds-rr-types-1) to include additional fields signalling the suitability of an algorithm for use in DNSSEC.

Furthermore, [RFC 9905](https://www.rfc-editor.org/rfc/rfc9905.html) and [RFC 9906](https://www.rfc-editor.org/rfc/rfc9906.html) update the IANA registries to mark SHA-1 and ECC-GOST as obsolete.

The dnssec-91 and dnssec-92 test cases should be updated to refer to the updates to RFC 9904, so that the use of any signing or hashing algorithm that have "**MUST NOT**" in the "Use for DNSSEC Signing" (for signing algorithms) or "Use for DNSSEC Delegation" (for hashing algorithms) causes the test case to fail.

Internal refs: NRRST-623 & NRRST-624