epp-01: check that the server accepts unordered certificates

[Section 4.4.2 of RFC 8446 states](https://datatracker.ietf.org/doc/html/rfc8446#:~:text=implementations%20SHOULD%20be%20prepared%20to%20handle%0A%20%20%20potentially%20extraneous%20certificates%20and%20arbitrary%20orderings%20from%20any%0A%20%20%20TLS%20version%2C%20with%20the%20exception%20of%20the%20end%2Dentity%20certificate%20which%0A%20%20%20MUST%20be%20first.):

> _"implementations SHOULD be prepared to handle potentially extraneous certificates and arbitrary orderings from any TLS version, with the exception of the end-entity certificate which MUST be first._".

The [epp-01](https://icann.github.io/rst-test-specs/rst-test-specs.html#Test-Case-epp-01) test case should be updated to validate this requirement.