Review of pass/fail criteria in rde-13

The [rde-13](https://icann.github.io/rst-test-specs/v2026.02/rst-test-specs.html#Test-Case-rde-13) test case currently says:

> "The EPP Parameters object **MUST** be present and **MUST** match the `<greeting>` element provided in the `epp.greeting` input parameter."

This requirement is based on [Section 5.7 of RFC 9022](https://www.rfc-editor.org/rfc/rfc9022.html#name-epp-parameters-object), which says that the child elements of the `<eppParams>` element includes (amongst others):

> _"one or more `<objURI>` elements that contain namespace URIs representing the objects that the registry's EPP server is capable of managing"_

and:

> _"an **OPTIONAL** `<svcExtension>` element that contains one or more `<extURI>` elements that contain namespace URIs representing object extensions supported by the registry's EPP server."_

Upon review of the RFC, it is not clear whether "the registry" is intended to mean the TLD, or the EPP "repository" (as defined in [RFC 5730](https://www.rfc-editor.org/rfc/rfc5730.html)), which may support multiple TLDs, each of which may only use a subset of the objects and extensions supported by the EPP server.

Because of this ambiguity, it may be that the requirement in rde-13 is too strict and should be relaxed, to essentially have the same requirements as the [epp-02](https://icann.github.io/rst-test-specs/v2026.02/rst-test-specs.html#Test-Case-epp-02) test case. This may mean that the [`epp.greeting`](https://icann.github.io/rst-test-specs/v2026.02/rst-test-specs.html#Input-Parameter-epp.greeting) input parameter may no longer be needed, as will no longer be the case that the contents of the `<eppParams>` element matches that of the `<greeting>` element in the EPP server's `<hello>` response.

Internal refs: NRRST-1385, NRRST-1386, NRRST-1387