Add test case for compliance with RFC 9874

Add a new test case to the EPP test suite that checks the EPP server's implementation of the applicable recommendations in [Section 6 of RFC 9874](https://www.rfc-editor.org/rfc/rfc9874.html#section-6), and that the "**NOT RECOMMENDED**" practices in Section 5 are *not* implemented.

Internal ref: NRRST-1266

Please note that - when implemented, the practice describe in 5.2.2.3. (and recommended in Section 6) of this RFC is actually in use since 2013 with our (tldbox) registry system (contrary to what the RFC says). 

When we implemented the practice, we followed the strategy of "security, but with the least damage possible", so in our system, subordinate host objects follow the status of the superordinate domain, and associations between domains using these hosts are only removed once the superordinate domain is finally removed (end of pendingDelete phase).

Therefore, if testing of that RFC is going to be implemented, make this test accomodate that option.  Feel free to reach out for more details!

best,
Alex


